# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Aa]rtifacts/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.pdb
*.code-workspace

# Rider / JetBrains
.idea/
*.iml

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# ASP.NET Core / secrets
appsettings.Development.json
secrets.json
*.db
*.sqlite

# Logs, temp, OS
*.log
*.tmp
*.temp
Thumbs.db
.DS_Store
